@import "@/styles/_handle.scss";

$jb-pink-bg: linear-gradient(135deg, #ff5e7f 30%, #ff967e 100%);
$jb-blue-bg: linear-gradient(135deg, #59c3fb 10%, #268df7 100%);
$jb-yellow-bg: linear-gradient(135deg, #f59f54 10%, #ff6922 100%);
/**
自定义的公共样式...

**/
a:hover {
    color: var(--focus-color);
    outline: 0;
    text-decoration: none;
}
.mb20, .theme-box {
    margin-bottom: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
.text-center {
    text-align: center;
}
.hide {
    display: none!important;
}
.show {
    display: block!important;
}
.font-bold {
    font-weight: 700;
}
span.dropdown, span.dropup {
    display: inline-block;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
button.null {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.hover-zoom-img:hover img, .hover-zoom:hover, .social_loginbar .social-login-item:hover, .social_loginbar .xh-social-item:hover {
    transform: scale(1.05);
}
.absolute, .fixed, .progress {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lazyloaded {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
    transform: unset;
    transition: .3s;
    --lazy-animation: lazy_blur;
}
img.lazyloaded {
    -webkit-animation: var(--lazy-animation) .5s;
    animation: var(--lazy-animation) .5s;
}
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';
    src: url('../assets/iconfont/iconfont.woff2?t=1676630814321') format('woff2'),
         url('../assets/iconfont/iconfont.woff?t=1676630814321') format('woff'),
         url('../assets/iconfont/iconfont.ttf?t=1676630814321') format('truetype');
  }
  .iconfont {
    // font-family: "iconfont" !important;
    // font: normal normal normal 14px/1;
    font: normal normal normal 14px/1 "iconfont";
    font-size: inherit;//14px
    font-style: normal;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.iconfont-fw {
    width: 1.28571429em;
    text-align: center;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.box-img, .drop-btn, .passw, .pointer, [href], a.but, botton {
    cursor: pointer;
}
.badge {
    font-size: .8em;
    line-height: 1.2;
    padding: .1em .4em;
    min-width: .8em;
    min-height: .8em;
    display: inline-block;
    vertical-align: .1em;
    border-radius: 50px;
    background: var(--this-bg);
    color: var(--this-color);
    top: 5px;
    --this-color: #fff;
    text-align: center;
    --this-bg: #fe3459;
    z-index: 1;
}
.badge.b-black {
    --this-bg: rgba(0, 0, 0, .2);
}
.badg.badg-sm, .but.badg-sm {
    font-size: .8em;
    padding: 0 .2em;
    vertical-align: .1em;
    min-width: 1.6em;
}
.but>.iconfont,.but>.icon {
    margin-right: .25em;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
  .ajax-option .option-items>a+a:before, .fcode-links>a+a:before, .icon-spot:before {
    content: "";
    width: 4px;
    height: 4px;
    margin: 0 .5em;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background: var(--main-color);
    opacity: .3;
    vertical-align: .2em;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    @include font_color("main-color");
    @include background_color("body-bg-color");
    &.nav-fixed{
        padding-top: 88px;
    }

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;

}

.navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.line-form-line, .line-form-line:before {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transition: .8s;
    @include background_color('main-border-color');
}

// element-plus
.el-popper{
    padding: 0px 11px !important;
}
// 分割线
.el-divider--horizontal{
    margin: 0;
    @include border_top_color('main-border-color');
}
.graphic, .page-cover {
    text-shadow: 0 0 5px rgb(0 0 0 / 20%);
    --main-color: #fff;
    color: #fff;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px var(--main-shadow);
    padding: 0;
    padding-bottom: 70%;
    border-radius: var(--main-radius);
}
.graphic>.fit-cover {
    position: absolute;
    width: 100%;
    height: 100%;
}
.graphic-mask {
    background: #000;
}
.graphic-text {
    padding: 5px 10px;
    transition: .3s;
    // text-align: center;
}
.this-font {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--color);
}
.avatar, .fit-cover, .radius-cover {
    width: 100%;
    height: 100%;
    transition: all .2s;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}
.img-badge {
    position: absolute;
    top: .6em;
    right: 0;
    border-radius: 50px 0 0 50px;
    text-shadow: none;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
    z-index: 1;
    padding: .2em .6em;
}
.img-badge.left {
    left: 0;
    border-radius: 0 50px 50px 0;
    right: auto;
}
.img-badge.hot {
    padding: .25em .6em;
}
.key-color {
    color: var(--key-color);
}
.badg, .but, .post-page-numbers {
    border-radius: 4px;
    display: inline-block;
    border-radius: 4px;
    transition: .15s;
    border: 1px solid transparent;
    vertical-align: middle;
    padding: .3em .6em;
    text-align: center;
    font-weight: 400;
    box-shadow: var(--this-shadow);
    background: var(--this-bg);
    color: var(--this-color);
    color: #888;
    --main-color: var(--this-color);
    --this-bg: rgba(136, 136, 136, .1);
    --this-border: transparent;
    --this-shadow: none;
    --this-color: #888;
    text-shadow: 0 0 0;
    line-height: 1.44;
}
.badg.p2-10, .but.p2-10, .badge.p2-10 {
    padding: 2px 10px;
}
.but.pw-1em {
    padding-right: 1em;
    padding-left: 1em;
}
.badg.radius, .but.radius, .radius>.but {
    border-radius: 50px;
    padding: .3em 1em;
}
.but:focus, .but:hover {
    opacity: .8;
    color: var(--this-color);
}
.but>.iconfont {
    margin-right: .25em;
}
.author-tag .badg, .author-tag .but {
    margin-right: 5px;
    margin: 2px;
    padding: .15em .4em;
    font-size: 12px;
    font-weight: 400;
}
.icon-circle::before {
    content: "";
    width: .5em;
    height: .5em;
    border: .1em solid var(--focus-color);
    border-radius: 1em;
    margin: 0 .5em;
    vertical-align: .1em;
    display: inline-block;
}
.img-icon {
    height: 1em;
    vertical-align: -.15em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: inline-block;
}
.posts-row {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 15px;
    &>* {
        margin-left: 8px!important;
        margin-right: 8px!important;
    }
}
.option-dropdown {
    padding: 5px 10px;
    display: inline-block;
    color: var(--muted-color);
}
.splitters-this-l, .splitters-this-r:before, .splitters>li+li:before {
    content: "";
    width: 1px;
    height: 1.1em;
    position: absolute;
    display: inline-block;
    background: var(--main-color);
    left: -1px;
    top: 50%;
    opacity: .2!important;
    transform: translateY(-50%);
}
.splitters-this-r:before {
    left: auto;
    right: 0;
}
.avatar, .fit-cover, .radius-cover {
    width: 100%;
    height: 100%;
    transition: all .2s;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}

.tab-nav{
    &.mini-scrollbar,&.swiper-wrapper{
        &>li{
            padding-left: 5px;
            margin: 0;
            padding-right: 5px;
            line-height: 1.4;
        }
    }
}
.scroll-x, .scroll-y {
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-x: auto;
}
.scroll-x {
    white-space: nowrap;
}
.scroll-y {
    overflow-x: hidden;
    overflow-y: auto;
}
.list-inline{
    margin-left: -5px;
    padding-left: 0;
    list-style: none;
    &>li{
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
}
.tab-nav{
    border-bottom: 1px solid var(--main-border-color);
    padding-bottom: 6px;
    margin: 8px 0 5px;
    list-style: none;
    li{
        &:before {
            position: absolute;
            content: '';
            background: var(--theme-color);
            width: 20px;
            height: 2px;
            border-radius: 5px;
            box-shadow: 1px 1px 3px -1px var(--theme-color);
            bottom: 5px;
            opacity: 0;
            left: 0;
            right: 0;
            margin: auto;
            top: auto;
            transition: .4s;
        }
        &.active::before, &.swiper-slide-thumb-active::before {
            opacity: 1;
        }
        &.active a {
            color: var(--focus-color);
        }
    }
}
.widget {
    clear: both;
    background: var(--main-bg-color);
    padding: 15px;
    box-shadow: 0 0 10px var(--main-shadow);
    border-radius: var(--main-radius);
    margin-bottom: 20px;
}
.text-ellipsis-2 {
    height: 2.8em;
    -webkit-line-clamp: 2;
}
.text-ellipsis-2, .text-ellipsis-3, .text-ellipsis-5 {
    line-height: 1.4em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: normal;
}
.line-form, .relative {
    position: relative;
}
.relative-h {
    overflow: hidden;
    position: relative;
}
.linear-mask {
    background-image: linear-gradient(
0deg,rgba(29,41,49,.4) 3em,rgba(255,255,255,0) 8em);
}
.box-body, .box-header {
    padding: 15px;
}


.avatar-img, .avatar-lg, .avatar-mini, .square-box {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    --this-size: 38px;
    width: var(--this-size);
    height: var(--this-size);
}
.avatar-mini {
    --this-size: 20px;
}
.avatar, .radius-cover {
    border-radius: 100px;
    display: inline-block;
}
.author-tag a .fa, .author-tag a .icon, .author-tag>span .fa, .author-tag>span .icon, .item-meta .meta-view .icon {
    margin-right: 2px;
}
.item-thumbnail .dplayer-video-wrap, .item-thumbnail .swiper-wrapper, .item-thumbnail img {
    position: absolute;
}
.dosc-nav .fa, .item-thumbnail img, .social_loginbar a {
    transition: .2s ease-out;
}
.author-tag a .fa, .author-tag a .icon, .author-tag>span .fa, .author-tag>span .icon, .item-meta span .icon {
    margin-right: 2px;
}
.abs-center, .abs-left, .abs-right, .form-select::before, .line-form-label, .payvip-icon:before, .toggle-radius .fa, .toggle-radius .icon {
    position: absolute;
    top: 50%;
    right: .7em;
    transform: translateY(-50%);
    z-index: 1;
}
.abs-center {
    left: 0;
    width: 100%;
}
.abs-center.right-bottom, .abs-center.right-conter, .abs-center.right-top {
    text-align: right;
}
.abs-center.right-top {
    left: auto;
    width: auto;
}
.abs-center.left-top, .abs-center.right-top {
    transform: unset;
    top: 0;
}
.abs-center.conter-bottom, .abs-center.left-bottom, .abs-center.right-bottom {
    top: auto;
    transform: unset;
    bottom: 0;
}
.hover-zoom-img-sm:hover img, .hover-zoom-sm:hover, .posts-item.mult-thumb .thumb-items>span>img:hover, .posts-item:hover .item-thumbnail img, .posts-mini:hover img {
    transform: scale(1.02);
}
.list .item-thumbnail .lz-slider, .list .item-thumbnail.mySwiper {
    margin: 0!important;
    position: absolute;
    height: 100%;
}
.item-thumbnail .swiper-wrapper {
    height: 100%!important;
}
.item-thumbnail .dplayer-video-wrap, .item-thumbnail .swiper-wrapper, .item-thumbnail img {
    position: absolute;
}
.dosc-nav .fa, .item-thumbnail img, .social_loginbar a {
    transition: .2s ease-out;
}
.mySwiper .swiper-slide img:not(.img-icon):not(.smilie-icon):not(.avatar-badge):not(.avatar) {
    max-height: var(--max-height);
    min-height: var(--min-height);
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.mySwiper .swiper-wrapper {
    height: var(--pc-height);
    display: flex;
}
.miniswiper {
    .swiper-pagination {
        text-align: center!important;
        bottom: 0!important;
        padding: 0 2px!important;
        left: 0!important;
        right: 0!important;
    }
    .swiper-pagination-bullet {
        --swiper-pagination-bullet-horizontal-gap:2px;
        width: 4px;
        height: 4px;
        background: #fff;
        opacity: .7;
        border: none;
        display: inline-block;
        border-radius: 20px;
        transition: .4s;
    }
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}
.swiper:hover .swiper-pagination {
    opacity: .8;
}
.swiper-pagination-bullets>.swiper-pagination-bullet-active {
    width: 8px;
    opacity: 1;
}
.swiper-container-initialized:hover .swiper-pagination {
    opacity: .8;
}
.chat-next a, .theme-pagination .ajax-next a, .theme-pagination .order-ajax-next a {
    border-radius: 30px;
    padding: 5px 15px;
    color: var(--muted-color);
    opacity: .6;
}
.chat-next a .fa, .theme-pagination .ajax-next .iconfont, .theme-pagination .ajax-next .icon, .theme-pagination .order-ajax-next .fa, .theme-pagination .order-ajax-next .icon {
    margin-right: 15px;
    transition: .3s;
}
.chat-next a:hover, .theme-pagination .ajax-next a:hover, .theme-pagination .order-ajax-next a:hover {
    background: var(--main-border-color);
    opacity: 1;
}
.chat-next a:hover .fa, .theme-pagination .ajax-next a:hover .iconfont, .theme-pagination .ajax-next a:hover .icon, .theme-pagination .order-ajax-next a:hover .fa, .theme-pagination .order-ajax-next a:hover .icon {
    margin-right: 8px;
}
.posts-item.card .item-heading, .posts-mini-con .item-heading {
    font-size: 14px;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.enlighter, .mini-scrollbar, .no-scrollbar {
    // -ms-overflow-style: none;
    // overflow: -moz-scrollbars-none;
    // scrollbar-width: thin;
}
.enlighter::-webkit-scrollbar, .mini-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.mini-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}
.no-scrollbar {
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}
.noshadow, .zib-widget-sm {
    box-shadow: none!important;
}
.lz-widget {
    clear: both;
    background: var(--main-bg-color);
    padding: 15px;
    box-shadow: 0 0 10px var(--main-shadow);
    border-radius: var(--main-radius);
    margin-bottom: 20px;
}
.flex {
    display: flex;
    .flex1 {
        flex: auto;
        overflow: hidden;
    }
}

.inflex {
    display: inline-flex;
}
.flex .grow1 {
    flex-grow: 1;
}
.flex .flex0 {
    flex: none;
}
.flex.jsb, .inflex.jsb {
    justify-content: space-between;
}
.flex.xx, .inflex.xx {
    flex-direction: column;
}
.flex.ac, .inflex.ac {
    align-items: center;
}
.radius {
    border-radius: var(--main-radius);
}
.tab-nav-theme li:before {
    left: 0;
    right: 0;
    margin: auto;
}
.tab-nav-theme {
    border-bottom: 1px solid var(--main-border-color);
    padding-bottom: 6px;
    margin: 8px 0 5px;
    list-style: none;
    li{
        position: relative;
        padding-bottom: 8px;
        &::before {
            position: absolute;
            content: '';
            width: 4px;
            background: var(--theme-color);
            top: 10%;
            left: 2px;
            bottom: 10%;
            border-radius: 5px;
            box-shadow: 1px 1px 3px -1px var(--theme-color);
            transition: .4s;
        }
        &:before {
            width: 20px;
            height: 2px;
            bottom: 5px;
            opacity: 0;
            top: auto;
            left: 0;
            right: 0;
            margin: auto;
        }
        &.active a {
            color: var(--focus-color);
        }
        &.active::before, &.swiper-slide-thumb-active::before {
            opacity: 1;
        }
    }
    &.mini-scrollbar>li, &.swiper-wrapper>li {
        padding-left: 5px;
        margin: 0;
        padding-right: 5px;
        line-height: 1.4;
    }
}
.single-metabox {
    right: 0;
    font-size: 15px;
    --meta-color: var(--muted-color);
}
.single-metabox .post-metas span .iconfont, .single-metabox .post-metas span .icon {
    margin-right: 3px;
}
// 侧边栏
.mobile-nav-widget .posts-mini, .sidebar .posts-mini {
    width: 100%!important;
}
// 文章页面内容
.tab-nav-theme li, .title-h-center, .title-h-left, .wp-posts-content>h1.has-text-align-center, .wp-posts-content>h1.wp-block-heading, .wp-posts-content>h1:not([class]), .wp-posts-content>h2.has-text-align-center, .wp-posts-content>h2.wp-block-heading, .lz-posts-content>h2:not([class]), .wp-posts-content>h3.has-text-align-center, .wp-posts-content>h3.wp-block-heading, .wp-posts-content>h3:not([class]), .wp-posts-content>h4.has-text-align-center, .wp-posts-content>h4.wp-block-heading, .wp-posts-content>h4:not([class]), .zib-widget>h3 {
    position: relative;
    padding-bottom: 8px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    &:focus {
        border-color: var(--focus-color);
        box-shadow: 0 0 2px 3px var(--focus-shadow-color);
    }
    &:hover {
        border-color: var(--focus-color);
        opacity: .8;
    }
}
.form-control {
    border-color: transparent;
    background: var(--body-bg-color);
    color: var(--main-color);
    box-shadow: none;
    transition: border-color ease-in-out .15s,background ease-in-out .15s,box-shadow ease-in-out .15s,opacity ease-in-out .3s;
}
textarea.form-control {
    height: auto;
}
.text-right {
    text-align: right;
}