
a {
    color: var(--main-color);
}
a[href] {
    transition: color .2s,background .3s,opacity .3s,box-shadow .3s,transform .3s;
}

p {
    margin: 0 0 10px;
}
input:-internal-autofill-previewed, input:-internal-autofill-selected {
    box-shadow: 0 0 0 1000px var(--main-bg-color) inset!important;
    -webkit-text-fill-color: var(--main-color)!important;
}
button{
    cursor: pointer;
}
.line-form-input:focus~.line-form-line:before, .line-form-input:hover~.line-form-line:before {
    width: 100% !important;
}
.line-form-input:focus~.line-form-line:before{box-shadow:0 -1px 3px 1.5px var(--focus-shadow-color)}
input:focus~.line-form-name {
    color: var(--focus-color) !important;
    opacity: .9;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    border: 1px solid var(--muted-3-color);
    border-radius: 3px;
    background: var(--main-bg-color);
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 1em;
    outline: 0;
    padding: 0!important;
    text-align: center;
    width: 1em;
    min-width: 1em;
    -webkit-appearance: none;
    box-shadow: inset 0 2px 2px rgb(0 0 0 / 10%);
    transition: border-color .3s,background .3s,opacity .2s;
    vertical-align: -.15em;
    position: relative;
}
input[type=checkbox]:checked {
    background: var(--focus-color);
    border-color: var(--focus-color);
    box-shadow: none;
}
input[type=checkbox]::before {
    font-family: iconfont;
    content: "\e62e";
    opacity: 0;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    z-index: 1;
    left: -15%;
    transition: .2s;
    text-align: center;
    width: 100%;
}
input[type=checkbox]:checked::before {
    opacity: 1;
    transform: translateY(-50%) scale(.5);
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}


.modal-open {
    overflow: hidden;
}

.separator {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separator::after, .separator::before {
    content: "";
    background: var(--main-border-color);
    max-width: 20%;
    height: 1px;
    margin: 0 1em;
    flex: 1;
}

// 社交图标
.social_loginbar {
    text-align: center;
    .social-login-item{
        color: #fff;
        font-size: 16px;
        float: none;
        display: inline-block;
        width: 32px!important;
        height: 32px!important;
        line-height: 32px;
        cursor: pointer;
        border-radius: 50px;
        margin: 3px 5px;
        &.qq {
        background: #1296db;
        }
        &.weixingzh {
        background: #24b76a;
        }
        &.github {
        background: #505050;
        }
        .icon{
        color: #fff;
        }
        &:hover{
            transform: scale(1.05);
        }
    }
}
.close {
    transition: .2s;
    opacity: .4;
    color: var(--muted-color);
    position: relative;
    z-index: 1;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    
    svg{
        transition: .3s;
        &:hover {
            transform: rotate(
        270deg);
            color: inherit;
        }
    }
    &::hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .5;
    }
}
button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


// 社交分割线
.social-separator{
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9em;
    // @include font_color('muted-3-color');
    color: var(--muted-3-color);
    margin: 10 0 10px;
    &::after, &::before {
      content: "";
    //   @include background_color('main-border-color');
      background: var(--main-border-color);
      max-width: 20%;
      height: 1px;
      margin: 0 1em;
      flex: 1;
    }
  }
  .social-login-item, .social-login-item svg{
    color: #fff !important;
  }

/*自定义动画类----顺时针旋转（使用这个动画的时候才设置动画执行时间）*/
@keyframes changeright{       
		 
    0%{transform:rotate(0deg);}

    50%{transform:rotate(180deg);}

    100%{transform:rotate(360deg);}
}
/*自定义动画类----逆时针旋转（使用这个动画的时候才设置动画执行时间）*/
@keyframes changeleft{

    0%{-webkit-transform:rotate(0deg);}

    50%{-webkit-transform:rotate(-180deg);}

    100%{-webkit-transform:rotate(-360deg);}
}
@keyframes lazy_fade{0%{opacity:0}100%{opacity:1}}
@keyframes lazy_fade{0%{opacity:0}100%{opacity:1}}
