// .nav>li {
//     position: relative;
//     display: block;
//     &>a {
//         position: relative;
//         display: block;
//         padding: 10px 15px;
//     }
// }

a {
    color: var(--main-color);
}

.line-form, .relative {
    position: relative;
}
.list-inline>li {
    vertical-align: middle;
}

.more-posts a>span, .relates-thumb li a>.post-info, a[href] {
    transition: color .2s,background .3s,opacity .3s,box-shadow .3s,transform .3s;
}
// 分割条
.splitters-this-l, .splitters-this-r:before, .splitters>li+li:before {
    content: "";
    width: 1px;
    height: 1.1em;
    position: absolute;
    display: inline-block;
    background: var(--main-color);
    left: -1px;
    top: 50%;
    opacity: .2!important;
    transform: translateY(-50%);
}
.padding-10 {
    padding: 10px;
}
.badg, .but, .post-page-numbers {
    border-radius: 4px;
    display: inline-block;
    border-radius: 4px;
    transition: .15s;
    border: 1px solid transparent;
    vertical-align: middle;
    padding: .3em .6em;
    text-align: center;
    font-weight: 400;
    box-shadow: var(--this-shadow);
    background: var(--this-bg);
    color: var(--this-color);
    color: #888;
    --main-color: var(--this-color);
    --this-bg: rgba(136, 136, 136, .1);
    --this-border: transparent;
    --this-shadow: none;
    --this-color: #888;
    text-shadow: 0 0 0;
    line-height: 1.44;
}
.but{
    &.pw-1em {
        padding-right: 1em;
        padding-left: 1em;
    }
    &>.iconfont, &>.icon {
        margin-right: .25em;
    }
    &:focus, &:hover {
        opacity: .8;
        color: var(--this-color);
    }
}
.badg.cir, .but.cir, .circular {
    padding: 0;
    border-radius: 5em;
    --this-size: 1.8em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: var(--this-size);
    min-width: var(--this-size);
}
.muted-box {
    background: var(--muted-border-color);
    border-radius: var(--main-radius);
    padding: 15px;
}
.but[disabled], .but[disabled]:hover, .opacity5 {
    opacity: .5;
}
.payvip-icon {
    background: linear-gradient(300deg,#4c4d51,#2a2a31 15%,#85858a 40%,#393a3c 60%,#393838 80%,#5e5f62 100%);
    text-shadow: none;
    font-weight: 400;
    position: relative;
    color: #ece0e0;
    border: none;
    --this-color: #ece0e0;
    overflow: hidden;
    &:before {
        content: "\eb70";
        font: normal normal normal 14px/1 iconfont;
        font-size: 3.5em;
        right: -.2em!important;
        top: 80%!important;
        opacity: .06;
    }
}
.toggle-radius {
    background: var(--this-bg);
    width: 29px;
    height: 29px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    position: relative;
    vertical-align: text-top;
    --this-bg: var(--main-border-color);
    .iconfont, .icon {
        right: 0!important;
        left: 0!important;
        margin: auto;
    }
}
// 分割线
.separator {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after, &::before {
        content: "";
        background: var(--main-border-color);
        max-width: 20%;
        height: 1px;
        margin: 0 1em;
        flex: 1;
    }
}
.social-separator {
    padding: 10px 0;
}
// 社交图标
.social_loginbar .social-login-item, .social_loginbar .xh-social-item {
    float: none;
    display: inline-block;
    width: 32px!important;
    height: 32px!important;
    line-height: 32px;
    cursor: pointer;
    border-radius: 50px;
    margin: 3px 5px;
}
.social_loginbar {
    text-align: center;
    .social-login-item{
        &.qq {
        background: #1296db;
        }
        &.weixingzh,&.weixin {
        background: #24b76a;
        }
        &.github {
        background: #505050;
        }
        .icon{
        color: #fff;
        }
        &:hover{
            transform: scale(1.05);
        }
    }
}
.social-login-item.toggle-radius {
    font-size: 16px;
}
.social-login-item, .social-login-item svg{
    color: #fff !important;
}
.dosc-nav .iconfont, .item-thumbnail img, .social_loginbar a {
    transition: .2s ease-out;
}
.hover-zoom-img:hover img, .hover-zoom:hover, .social_loginbar .social-login-item:hover, .social_loginbar .xh-social-item:hover {
    transform: scale(1.05);
}

.abs-center, .abs-left, .abs-right, .form-select::before, .line-form-label, .payvip-icon:before, .toggle-radius .iconfont, .toggle-radius .icon {
    position: absolute;
    top: 50%;
    right: .7em;
    transform: translateY(-50%);
    z-index: 1;
}
.hover-show {
    position: relative;
    cursor: pointer;
    z-index: 10;
    .hover-show-con {
        position: absolute;
        visibility: hidden;
    }
}
.hover-show .hover-show-con, .navbar-top .sub-menu, .theme-popover {
    opacity: 0;
    transform: translateY(6px);
    transition: .4s;
}
.hover-show:hover .hover-show-con, .hover-show:hover~.hover-show-con, .hover-show:hover~.sub-menu {
    visibility: unset;
}
.hover-show:hover .hover-show-con, .hover-show:hover~.hover-show-con, .hover-show:hover~.sub-menu, .navbar-top li:hover>.sub-menu {
    opacity: 1;
    transform: translateY(0);
}
.dropdown-menu {
    border-color: transparent;
    background: var(--main-bg-color);
    --this-color: var(--main-color);
    color: var(--this-color);
    box-shadow: 0 0 10px 8px var(--main-shadow);
    min-width: 100px;
    opacity: 0;
    transform: translateY(6px);
    transition: .3s;
    display: block;
    margin-top: 6px;
    visibility: hidden;
    list-style: none!important;
    z-index: 992;
    &.right {
        right: 0;
        left: auto;
    }
    &>li>a {
        color: var(--this-color);
        padding: 6px 20px;
        text-shadow: none;
    }
    &>.active>a, .dropdown-menu>.active>a:hover, &>li>a:focus, &>li>a:hover {
        color: var(--focus-color);
        background: var(--muted-border-color);
    }
}
.dropdown-menu::before, .private-content::before {
    content: " ";
    display: inline-block;
    width: 9px;
    height: 9px;
    background: var(--main-bg-color);
    position: absolute;
    top: 12px;
    transform: rotate(45deg);
    left: -4px;
    border-radius: 2px;
}
.dropdown .dropdown-menu::before {
    top: -4px;
    left: 12px;
}

.dropdown, .dropup {
    position: relative;
}
.pull-right {
    float: right!important;
    &.dropdown .dropdown-menu::before, &.dropup .dropdown-menu::before {
        left: auto;
        right: 12px;
    }
    &.msg-news-dropdown.dropdown .dropdown-menu::before {
        right: 20px;
    }
}
.float-right {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 1030;
    text-align: center;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    transition: .3s;
    &.position-center {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
    }
    .float-btn {
        width: 40px;
        line-height: 40px;
        display: block;
        font-size: 1.4em;
        --this-color: var(--muted-2-color);
        --this-bg: var(--float-btn-bg);
        background: var(--this-bg);
        position: relative;
        color: var(--this-color)!important;
    }
    &.round .float-btn {
        margin-top: 6px;
        border-radius: 8px;
    }
}
// 轮播图
.slide-header .s-desc, .slide-header img, .slide-header video, .wp-block-carousel figcaption {
    border-radius: 0!important;
}
.filter-blur .header-slider-card .lz-widget, .filter-blur .header-slider-search .line-form {
    -webkit-backdrop-filter: saturate(5) blur(20px);
    backdrop-filter: saturate(5) blur(20px);
}
.header-slider-search .search-input-text .line-form-line, .header-slider-search .search-keywords>p {
    display: none;
}
.header-slider-search .line-form .dropdown>a, .header-slider-search .line-form .dropdown>a a, .header-slider-search .line-form .icon {
    color: #555;
}
.header-slider-search .search-type-but-average .but, .header-slider-search .search_keywords {
    --this-bg: rgba(255, 255, 255, 0.8);
    --this-color: #888;
}
.mt6 {
    margin-top: 6px;
}
.mt10 {
    margin-top: 10px;
}
.mb6 {
    margin-bottom: 6px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20, .theme-box {
    margin-bottom: 20px;
}
.ml3 {
    margin-left: 3px;
}
.ml6 {
    margin-left: 6px;
}
.ml10 {
    margin-left: 10px;
}
.mr6 {
    margin-right: 6px;
}
.mr10 {
    margin-right: 10px;
}
.em09 {
    font-size: .9em;
}
.em12 {
    font-size: 1.2em;
}
.em14 {
    font-size: 1.4em;
}
.em16 {
    font-size: 1.6em;
}
.px12 {
    font-size: 12px;
}
.col-ml6>*+* {
    margin-left: 6px;
}
.padding-6 {
    padding: 6px;
}
.text-center {
    text-align: center;
}
.hide {
    display: none!important;
}
.show {
    display: block!important;
}
.block {
    display: block;
}
@media (min-width: 768px) {
    
}


input:-internal-autofill-previewed, input:-internal-autofill-selected {
    box-shadow: 0 0 0 1000px var(--main-bg-color) inset!important;
    -webkit-text-fill-color: var(--main-color)!important;
}
button{
    cursor: pointer;
}
.line-form-line:before {
    content: '';
    width: 0;
    background: var(--focus-color);
}
.line-form-line, .line-form-line:before {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transition: .8s;
    background: var(--main-border-color);
}

.line-form-input {
    outline: 0!important;
    border: none;
    display: block;
    width: 100%;
    padding: 1em 2em .4em .3em;
    opacity: .8;
    transition: .3s;
    background: 0 0!important;
}
.line-form-input:focus~.line-form-line:before, .line-form-input:hover~.line-form-line:before {
    width: 100% !important;
}
.line-form-input:focus~.line-form-line:before{box-shadow:0 -1px 3px 1.5px var(--focus-shadow-color)}
input:focus~.line-form-name {
    color: var(--focus-color) !important;
    opacity: .9;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    border: 1px solid var(--muted-3-color);
    border-radius: 3px;
    background: var(--main-bg-color);
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 1em;
    outline: 0;
    padding: 0!important;
    text-align: center;
    width: 1em;
    min-width: 1em;
    -webkit-appearance: none;
    box-shadow: inset 0 2px 2px rgb(0 0 0 / 10%);
    transition: border-color .3s,background .3s,opacity .2s;
    vertical-align: -.15em;
    position: relative;
}
input[type=checkbox]:checked {
    background: var(--focus-color);
    border-color: var(--focus-color);
    box-shadow: none;
}
input[type=checkbox]::before {
    font-family: iconfont;
    content: "\e62e";
    opacity: 0;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    z-index: 1;
    left: -15%;
    transition: .2s;
    text-align: center;
    width: 100%;
}
input[type=checkbox]:checked::before {
    opacity: 1;
    transform: translateY(-50%) scale(.5);
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}


.modal-open {
    overflow: hidden;
}




.close {
    transition: .2s;
    opacity: .4;
    color: var(--muted-color);
    position: relative;
    z-index: 1;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    
    svg{
        transition: .3s;
        &:hover {
            transform: rotate(
        270deg);
            color: inherit;
        }
    }
    &::hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .5;
    }
}
button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
@media (min-width: 1240px){
    .container {
        max-width: var(--mian-max-width);
        width: auto;
    }
}



  

/*自定义动画类----顺时针旋转（使用这个动画的时候才设置动画执行时间）*/
@keyframes changeright{       
		 
    0%{transform:rotate(0deg);}

    50%{transform:rotate(180deg);}

    100%{transform:rotate(360deg);}
}
/*自定义动画类----逆时针旋转（使用这个动画的时候才设置动画执行时间）*/
@keyframes changeleft{

    0%{-webkit-transform:rotate(0deg);}

    50%{-webkit-transform:rotate(-180deg);}

    100%{-webkit-transform:rotate(-360deg);}
}
@keyframes lazy_fade{0%{opacity:0}100%{opacity:1}}
@keyframes lazy_fade{0%{opacity:0}100%{opacity:1}}
.navbar-top li.current-menu-item:before, .navbar-top li.current-menu-item>a:before, .navbar-top li:hover:before, .navbar-top li:hover>a:before {
    opacity: 1;
}
.navbar-top li.current-menu-item>a, .navbar-top li:hover>a {
    color: var(--focus-color);
}
.current-menu-item>a, .navbar-top .nav li a:focus, .navbar-top .nav li a:hover {
    background-color: transparent;
    color: var(--focus-color);
}

.c-red {
    --this-color: #ff5473 !important;
    --this-bg: rgba(255, 84, 115, .1) !important;
}
.c-red-2 {
    --this-color: #d6064c;
    --this-bg: rgba(194, 41, 46, 0.1);
}
.c-green {
    --this-color: #18a52a !important;
    --this-bg: rgba(18, 185, 40, .1) !important;
}
.c-green-2 {
    --this-color: #6a933e;
    --this-bg: rgba(72, 135, 24, .1);
}
.c-blue {
    --this-color: #2997f7;
    --this-bg: rgba(41, 151, 247, .1);
}
.c-blue-2 {
    --this-color: #5c7cff !important;
    --this-bg: rgba(77, 130, 249, .1) !important;
}
.c-white {
    --this-color: #fff;
    --this-bg: rgba(255, 255, 255, 0.1);
}
.c-yellow {
    --this-color: #ff6f06;
    --this-bg: rgba(255, 111, 6, 0.1);
}
.c-yellow-2 {
    --this-color: #c58516;
    --this-bg: rgba(179, 103, 8, 0.1);
}
.c-purple {
    --this-color: #e434e1;
    --this-bg: rgba(213, 72, 245, 0.1);
}
.c-purple-2 {
    --this-color: #8e4aff;
    --this-bg: rgba(154, 72, 245, 0.1);
}
.c-blue, .c-blue-2, .c-cyan, .c-gray, .c-green, .c-green-2, .c-purple, .c-purple-2, .c-red, .c-red-2, .c-theme, .c-white, .c-yellow, .c-yellow-2 {
    color: var(--this-color);
}