*{
    margin: 0;
    box-sizing: border-box;
}
*, :after, :before {
    outline: 0!important;
}
*, :after, :before {
    outline: 0!important;
}
b, strong {
    font-weight: 700;
}
dd, dl, dt, ol, ul {
    margin: 0;
    padding: 0;
}
textarea[autoheight] {
    resize: none;
    line-height: 1.4;
    overflow: hidden;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    box-sizing: content-box;
    border-top: 1px solid #eee;
    border-color: var(--main-border-color);
}
p {
    margin: 0 0 10px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
svg:not(:root) {
    overflow: hidden;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    border: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
a {
    text-decoration: none;
    cursor: pointer
    &[href] {
        transition: color .2s,background .3s,opacity .3s,box-shadow .3s,transform .3s;
    }
}
:after, :before {
    box-sizing: border-box;
}