/* 白天 */
:root{
    /* 颜色 */
    --main-color: #4e5358;
    --main-shadow:rgba(116, 116, 116, 0.08);
    --main-bg-color: #fff;
    --main-border-color: rgba(50, 50, 50, 0.06);
    --body-bg-color: #f5f6f7;
    --muted-color: #777;
    --muted-2-color: #999;
    --muted-3-color: #b1b1b1;
    --blur-bg: rgba(255, 255, 255, 0.8);
}

/* 夜间 */
body.dark-theme{
    --main-color: #e5eef7;
    --main-shadow:rgba(24, 24, 24, 0.1);
    --main-bg-color: #323335;
    --main-border-color: rgba(114, 114, 114, 0.1);
    --body-bg-color: #292a2d;
    --muted-color: #b4b6bb;
    --muted-2-color: #888a8f;
    --muted-3-color: #636469;
    --blur-bg: rgba(50, 51, 53, 0.8);
}


:root{
    --theme-color: #16b597;
    --focus-color: var(--theme-color);
    --focus-shadow-color: rgba(22,181,151,.4);
    --focus-color-opacity1: rgba(22,181,151,.1);
    --key-color: #333;
    --main-radius: 4px;
    --mian-max-width: 1200px;
    --posts-card-scale: 70%;
    --posts-list-scale: 70%;
}
.main-shadow {
    box-shadow: 0 0 10px var(--main-shadow);
    transition: box-shadow .3s;
}
.avatar-lg {
    --this-size: 80px;
}
.main-bg {
    background: var(--main-bg-color);
}
.muted-color {
    color: var(--muted-color);
}
.muted-2-color {
    color: var(--muted-2-color);
}
.muted-3-color {
    color: var(--muted-3-color);
}
.c-red {
    --this-color: #ff5473 !important;
    --this-bg: rgba(255, 84, 115, .1) !important;
}
.c-red-2 {
    --this-color: #d6064c;
    --this-bg: rgba(194, 41, 46, 0.1);
}
.c-green {
    --this-color: #18a52a !important;
    --this-bg: rgba(18, 185, 40, .1) !important;
}
.c-green-2 {
    --this-color: #6a933e;
    --this-bg: rgba(72, 135, 24, .1);
}
.c-blue {
    --this-color: #2997f7;
    --this-bg: rgba(41, 151, 247, .1);
}
.c-blue{
    color: var(--this-color) !important;
}
.c-blue-2 {
    --this-color: #5c7cff !important;
    --this-bg: rgba(77, 130, 249, .1) !important;
}
.c-white {
    --this-color: #fff;
    --this-bg: rgba(255, 255, 255, 0.1);
}
.c-yellow {
    --this-color: #ff6f06;
    --this-bg: rgba(255, 111, 6, 0.1);
}
.c-yellow-2 {
    --this-color: #c58516;
    --this-bg: rgba(179, 103, 8, 0.1);
}
.c-purple {
    --this-color: #e434e1;
    --this-bg: rgba(213, 72, 245, 0.1);
}
.c-purple-2 {
    --this-color: #8e4aff;
    --this-bg: rgba(154, 72, 245, 0.1);
}
.c-blue, .c-blue-2, .c-cyan, .c-gray, .c-green, .c-green-2, .c-purple, .c-purple-2, .c-red, .c-red-2, .c-theme, .c-white, .c-yellow, .c-yellow-2 {
    color: var(--this-color);
}

.jb-red, .order-type-9 .pay-tag {
    --this-bg: linear-gradient(135deg, #fd7a64 10%, #fb2d2d 100%);
}
.jb-blue, .order-type-7 .pay-tag {
    --this-bg: linear-gradient(135deg, #59c3fb 10%, #268df7 100%);
}
.jb-pink, .order-type-2 .pay-tag {
    --this-bg: linear-gradient(135deg, #ff5e7f 30%, #ff967e 100%);
}
.jb-green, .order-type-5 .pay-tag {
    --this-bg: linear-gradient(135deg, #60e464 10%, #5cb85b 100%);
}
.jb-yellow, .order-type-3 .pay-tag {
    --this-bg: linear-gradient(135deg, #f59f54 10%, #ff6922 100%);
}
.jb-blue, .jb-cyan, .jb-green, .jb-pink, .jb-purple, .jb-red, .jb-vip1, .jb-vip2, .jb-yellow {
    border: none;
}
.b-theme {
    --this-bg: var(--focus-color);
}
.b-gray {
    --this-bg: #818b95;
}
.b-blue, .b-blue-2, .b-cyan, .b-gray, .b-green, .b-purple, .b-red, .b-theme, .b-yellow, .jb-blue, .jb-cyan, .jb-green, .jb-pink, .jb-purple, .jb-red, .jb-vip1, .jb-vip2, .jb-yellow {
    color: var(--this-color);
    background: var(--this-bg);
    --this-color: #fff;
    /* --this-bg: linear-gradient(135deg, #59c3fb 10%, #268df7 100%); */
}

.focus-color {
    --this-color: var(--focus-color);
    color: var(--focus-color);
}

