/*
*博客前端移动端样式
*/
@import "./common/handle.scss";
/* 移动端 850 1200 1000 759 840*/
@media only screen and (max-width: 1200px) {
  .box {
    width: 1000px;
  }
  .featured_news{
    width: 70%;
  }
  .mycard{
    width: 28%;
  }
  // 友情链接
  .links a {
    padding: 3px 10px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1024px) {
  .box {
    width: 940px;
  }
  // 精选文章部分
  .f_news_title { font-size: 18px !important; }
  // 最新文章列表
  .blogs,
  .all_news_list,
  .blogs_search,
  .blogs_info_page {
    width: 68%;
  }
  /* --------------------aside侧边栏-------------- */
  .rbox {
    width: 30%;
  }
  .emial_box { padding: 16px 16px 20px 16px; }
  .links li {
    width: 18%;
  }
}
@media only screen and (max-width: 959px) {
  // menu
  .box {
    width: 96%;
  }
  // 头部
  #z_nav {
    padding: 0 16px !important;
  }
  #nav_links {
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  #z_nav #search-button span {
    display: none !important;
  }
  #z_nav #toggle-menu {
    display: inline-block !important;
  }
  // 精选文章
  .featured_news {
    width: 63%;
    // width: 56%;
  }
  .featured_nav #tab li a {
    margin: 0 10px;
  }
  .featured_news .featured_nav #tab {
    padding: 0 20px;
    // padding: 0;
  }
  .f_news_pic {
    display: none;
  }
  /* .f_news_list 精选文章列表 */
  .featured_news .f_news_list .f_news_li {
    width: 100%;
  }
  // 个人名片
  .mycard {
    width: 34%;
    // width: 41%;
  }
  // 最新文章列表
  .blogs,
  .blogs_info_page,
  .all_news_list,
  .blogs_search {
    width: 100%;
  }
  /* 右侧边栏 */
  .rbox {
    display: none;
  }
  // 友情链接 links
  .links li {
    width: auto;
  }
}
@media only screen and (max-width: 850px) {
  .featured_news {
    // width: 100%;
  }
  .f_news_pic {
    // display: none;
  }
  .mycard{
    // display: none;
  }
}
@media only screen and (max-width: 768px) {
  // 精选文章
  .featured_news {
    width: 56%;
    // width: 100%;
  }
  .featured_news .featured_nav #tab li a {
    padding: 0 6px;
  }
  .featured_news .featured_nav #tab li a {
    margin: 0 5px;
  }
  // 个人名片
  .mycard {
    width: 41%;
  }
}
@media only screen and (max-width: 640px) {
  h2.h_title {
    font-size: 18px;
  }
  // 精选文章
  .featured_news{
    width: 100%;
  }
  .mycard {
    display: none;
  }
  .featured_news {
    margin-top: 20px;
  }
  .featured_nav #tab li a {
    margin: 0 10px;
  }
  // 个人名片
  .mycard i {
    float: left;
    margin: 0 20px 0 0;
    height: 120px;
    width: 160px;
  }
  .mycard ul li {
    line-height: 30px;
  }
  .mycard {
    height: auto;
    margin: 20px 0;
  }
  .mycard .ewm {
    display: none;
  }
  // 最新文章 列表
  .blogs .blogs_list .block-image{
    width: 160px;
    height: 120px;
    margin-right: 8px;
  }
  .blogs .blogs_list .entry-header .entry-title{
    font-size: 16px;
    margin: 5px 0;
    -webkit-line-clamp: 1;
  }
  .blogs .blogs_list .entry-summary p{
    -webkit-line-clamp: 1;
  }
  .blogs .blogs_list .entry-meta{
    // margin-top: 36px;
    left: 188px;
  }
  .blogs .blogs_list .entry-meta .separator{
    padding: 0 2px;
  }
  // 友情链接links
  .links {
    margin: 0 auto;
  }
  .links a {
    font-size: 12px;
    padding: 0 10px;
  }
  .links li {
    width: 33.3333%;
  }
  h2.h_title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  // 精选文章
  .featured_news .featured_nav #tab li a {
    margin: 0 8px;
    padding: 0;
    font-size: 14px;
  }
  .featured_news .featured_nav #tab {
    padding: 0 10px;
    line-height: 40px;
    margin: 5px 0;
  }
  .featured_news .featured_nav {
    margin-bottom: 20px;
  }
  // 精选文章列表
  .f_news_list li i {
    width: 120px;
    height: 90px;
  }
  .f_news_list li p {
    font-size: 14px;
  }
  // 个人名片
  .mycard {
    display: none;
  }
  .blogs .blogs_list .block-image{
    // width: 90px;
    // height: 68px;
    width: 133px;
    height: 100px;
    margin: 0 10px 0px 0;
  }
  .blogs .blogs_list .entry-header .entry-title{
    -webkit-line-clamp: 2;
  }
  .blogs .blogs_list .entry-meta .avatar{
    display: none;
  }
  .blogs .blogs_list .entry-meta  time{
    display: none;
  }
  .blogs .blogs_list .entry-meta .separator:nth-of-type(2){
    display: none;
  }
  .blogs .blogs_list {
    padding: 15px;
  }
  .blogs .blogs_list .entry-header .entry-title {
    font-size: 15px;
    white-space: inherit;
    line-height: inherit;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    margin: 0;
  }
  .blogs .blogs_list .block-image .vodlist_top{
    display: none;
  }
  .blogs .blogs_list .entry-summary p {
    // clear: both;
  }
  .blogs .blogs_list .entry-summary p{
    // display: none;
  }
  .blogs .blogs_list .entry-meta{
    bottom: 11px;
    left: 159px;
  }
  // footer底部
  footer {
    margin-top: 20px;
  }
  .footer_nav li a {
    padding: 0 5px;
    margin: 0 5px;
    font-size: 14px;
  }
  .footer_nav li a:after {
    right: -5px;
  }
}