
.ic-close,
.match-ok,
.navbar-top .sub-menu li > a {
  transition: 0.3s;
}
.line-form,
.relative {
  position: relative;
}
@media (min-width: 992px) {
  #login .sign-content {
    width: 800px;
  }
}
@media (min-width: 768px) {
  .sign-content {
    width: 600px;
    margin: 30px auto;
  }
}
#sign-up {
  padding: 0 10px;
}

.sign .line-form .abs-right {
  margin-top: -8px;
  /* //-3 */
}
.muted-2-color {
  color: #999 !important;
}
.icon-chakan {
    width: 18px;
    text-align: center;
}
.em09 {
    font-size: 12.6px;
}
.muted-color {
    color: #777;
}
.muted-3-color {
    color: #b1b1b1;
}
p {
    margin: 0 0 10px;
}
.focus-color {
    color: #f04494 !important;
}
.c-blue, .c-blue-2, .c-cyan, .c-gray, .c-green, .c-green-2, .c-purple, .c-purple-2, .c-red, .c-red-2, .c-theme, .c-white, .c-yellow, .c-yellow-2 {
    color: #2997f7;
}
/* .badg, .but, .post-page-numbers {
    display: inline-block;
    border-radius: 4px;
    transition: .15s;
    border: 1px solid transparent;
    vertical-align: middle;
    text-align: center;
    font-weight: 400;
    background: rgba(41,151,247,.1);
    text-shadow: 0 0 0;
    line-height: 1.44;
} */
.captcha:hover{
  color: #2997f7;
}

  